<div class="fluid-container">
	<nav class="navbar navbar-expand bg-iceBar" >
			<ul class="navbar-nav">
				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/home">Home</a>
					</button>
				</li>

				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/bio">Bio</a>
					</button>
				</li>

				<li class="nav-item">
					<div class="dropdown">
						<button onclick="dropdownPW()" class="dropbtn btn-menu1">Projects</button>
						<div id="myDropdownPW" class="dropdown-content">
						  <a href="/EOP">Effect Oriented Programming</a>
						  <a href="/IDM">Information Density Model</a>
						  <a href="/FFM">Fourier Forcasting Model</a>
						  <a href="/OBO">Options Based Outlook Model</a>

						</div>
					  </div>
				</li>

				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/workExp">Work Experience</a>
					</button>
				</li>

				<li class="nav-item">
					<div class="dropdown">
						<button onclick="dropdownBl()" class="dropbtn btn-menu1">Blog</button>
						<div id="myDropdownBl" class="dropdown-content">
						  <a href="/blog_influence">Trinity of Influence</a>
						  <a href="/blog_maturity">Maturity</a>
						  <a href="/blog_VocationalEdu">Should Higher Education Be Vocational?</a>
						  <a href="/blog_FinEdu">The State of Financial Education in the US</a>
						</div>
					  </div>
				</li>
			
				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/contact_me">Contact Me</a>
					</button>
				</li>
			</ul>
	</nav>
</div>

<br><br>
