<div id='main_bg_1'>
    <div class=" container">
    <% include ../partials/header %>

        <% include ../partials/menu %>

        <div id='bio_Pic' class="fluid-container">
            <div class="container" style="float:left; width:60%;">
                <div  class="fluid-container bg-greyDown" style="float:left">
                    <h2 style="margin-left: 10px;">
                    Bio    
                    </h2>
                    <p style="margin:15px">Hello, my name is Wyett Considine. 
                    I am a student at the University of Colorado-Boulder studying computer science and applied math in engineering. 
                    I am in a combined BS/MS 5-year program. 
                    I will graduate with a BS in computer science (with minors in applied math and engineering leadership) in 2023, and a master's degree in computer science in 2024.
                    <br>
                    My professional interests include data science, quantitative finance, 
                    the economics of inequality, and applications of analytics. 
                    <br>
                    
                    I am an investor, and also have an interest in quantitative finance. 
                    I competed in Nordic skiing for 13 years and raced in the 2019 Junior National competition in Alaska.
                    I have also studied sleight of hand magic for 6 years, specializing in card and coin close-up illusions.

                    </p>

            
                </div>
            </div>
        </div>


    
</div>
<% include ../partials/footer %>
