    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            Maturity
        </h3>

        <p>&emsp; &emsp;
            The difference between a child and an adult can be thin. Some children act far beyond their age, and some adults lack the qualities that others deem necessary for adulthood. The defining characteristic of growth in this context is thus not age, but mental maturity. Mental maturity can be obvious or subtle, but its presence is undeniable. It encompasses the mental growth of a person and reflects their development over time. Maturity is a quality in a person that can take many possible facets.  Three realms of maturity are particularly prominent; A person’s balance of freedom and responsibility, their acceptance of discomfort, and their propensity to develop their own beliefs. Each of these areas present a person’s achieved wisdom, experience, and knowledge. An asymmetric growth of freedom and responsibility leads to unsustainability in life. If a person does not accept discomfort in their life, they cannot grow their personal limits. A person who accepts everything told to them by others will only end up confused. For a person to mature, they need to develop a balance of freedom and responsibility, accept discomfort, and seek to develop their own beliefs. 
        </p>

        <p>&emsp; &emsp;
            Freedom and responsibility go hand in hand. Naturally, the two grow together, yet depending on the person, they can be embraced at different rates. Immaturity is often developed where the two are held in different amounts. When there is more freedom than responsibility, discipline becomes exponentially more difficult. Why would one work when they don’t need to? In contrast, if one accepts too much responsibility without the accompanying freedom, they can burn out. If a person works too much in a way that does not fit them, the work is bound to become a grueling ordeal. Each person will find they have a unique personal balance of these two quantities. Finding the balance can be quite difficult for many people. It often takes experience on both sides of the equilibrium to find an optimal balance. Finding this balance reflects a level of self-knowledge that facilitates sustainability. 
        </p>        
        <p>&emsp; &emsp;
            Discomfort is the catalyst to growth. This is to say that growth in an area can occur naturally over time, but struggling with, and enduring the according trials expedites the process. This of course varies across different fields, however, some form of this concept is always true. To become physically stronger, a person needs to exercise. To become intellectually smarter, a person needs to study. To develop speaking skills, a person needs to practice in front of a crowd.  An addition, in life, discomfort will always be present. Even if the only discomfort in a person’s life is the fear of discomfort itself, all people will feel uncomfortable at some time. Thus, instead wasting effort to avoid discomfort, accepting its presence will bring the most benefit. Experiencing adversity and discomfort also increases a person’s resolve, and their tolerance. This leads the person to being able to live through even more difficulties and becoming even more mature. 
        </p>

        <p>&emsp; &emsp;
            As children, we have no choice but to listen to others. We can’t be expected to have nearly enough knowledge, experience, and perspective to make informed decisions. However, as we grow and mature, we need to develop a sense of curiosity and skepticism.  In questioning what we perceive and are told, we grow the skills to prove things to ourselves. This can allow a more solid foundation of thought, which facilitates higher, and more structured paradigms. In skepticism, there is the potential for gaining wisdom and knowledge. Individual thought conveys the wisdom to ask, and the knowledge to answer. To fully develop a personal philosophy and a rounded perspective, a person needs to experience enough of the world to have learned things for themselves. Especially this realm of maturity takes a long time to develop, as it requires direct experience. 
        </p>
            
        <p>&emsp; &emsp;
            There are many ways to describe maturity. It has become such a wide term that two people may have completely different connotations of the word. However, at its most basic level, maturity represents growth over time. Given this, certain aspects will always be true. In order to facilitate a period long enough for significant maturation, a person needs to have a sustainable life. This necessitates a balance of freedom and responsibility. In order to push the boundaries of what a person can do, they need to be able to stand at those boundaries. Thus, a person needs to be able to accept discomfort. To build a perspective on which one can think, a person must be skeptical, and curious. Therefore, they need to develop their own thought. Maturity is a difficult thing to quantify. It can affect elements of different people in radically different ways. It is thus less important to attempt to determine one’s own level of maturity, and rather, it is most beneficial to seek the steady facilitation of its growth. 
        </p>

        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
