    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            The Trinity of Influence
        </h3>

        <p>&emsp; &emsp;
            A person’s influence is the degree to which they can change the world around them. It is a capacity to alter physical space, ideologies, and culture. It is thus a similar concept to power in its ability to provide alteration. Yet whereas power acts through a single source or person, influence can take root separately from the original source, and can have much more lasting effect. This is similar to the difference of cutting down a tree versus planting one. Whereas power, like cutting down a tree, can provide immediate results for change, influence provides a slower form of alteration that continues after the planter is gone. The implementation of influence can be more nuanced, and gaining it can be more difficult, yet for those who want to create lasting changes, simply implementing power may be ineffective. Influence has three primary aspects: Authority, respect, and trust. Authority is the force that makes others do what you tell them to. Respect is the perspective of others that you have something noteworthy, rare, or excellent. Trust is the feeling that makes others believe you will act a certain way.  For someone to increase their influence, they need to gain authority, respect, and trust from those around them. 
        </p>

        <p>&emsp; &emsp;
            Out of the three aspects of influence, authority is the most similar to power. For it to be effective, a person with authority needs a certain level of separation from the person they have authority over. The separation may take many forms. It may be a difference in rank, experience, or age. By nature, authority requires a disparity between two entities. It also necessitates a single direction in its flow. Unique to the other facets of influence, authority needs to be one sided. When a decision is necessary, the deciding source of authority needs to be clear. If it is not, and two opposing entities claim the same level of authority, the situation results in conflict. Because authority is most similar to power, it is often misunderstood. Even if the one with authority will decide the ultimate outcome, it does not void their responsibility to listen to those under them. Therein lies the key difference between power and authority. Authority necessitates responsibility. 
        </p>

        <p>&emsp; &emsp;
            Gaining respect in the context of influence is a balance of separation and closeness. One of the key features of respect is acknowledgement.  To gain influence, an entity must both be respected, and respect those around them. Unlike authority, true respect between entities is a two-way connection. Gaining respect is often more difficult for someone attempting to increase their influence. For an entity to gain respect, they must display traits or accomplishments that garner recognition and acknowledgement. To give respect, one must simply recognize and validate others. Gaining respect requires work. Giving it is free. This difference is where the necessity of separation is found. To have traits that will garner respect from everyone, a person needs to have rare accomplishments, thus separating themselves from their peers. 
        </p>

        <p>&emsp; &emsp;
            Trust, like respect, flows both ways between two entities.  It can be the most difficult part of influence to gain, as the growth of trust between entities requires empathy and time. For one person to trust another, they need to feel like they know and understand them. One person must have faith and believe in another person to build trust. This inherently requires time. Trust can be the most powerful aspect of influence, as it is the facet that encourages others to do what you want them to do. In this way, trust strengthens the aspect of authority. Trust can also bridge the gap of understanding and action. For one to commit themselves to action, they must first understand the reason to do so. However, if one whom they trust understands the reason for action, they don’t also need to understand in order to act. Thus, simply the words of one who is trusted can become the sole reason for others to act. 
        </p>
            
        <p>&emsp; &emsp;
            Each of the three aspects of influence strengthen the others. Trust increases authority. Authority promotes respect. Respect feeds into trust. The three facets can all increase an entity’s influence individually, yet when in combination, they increase the magnitude of each other’s effects. Many of the world’s problems cannot be solved through the simple use of immediate power. Influence must be attained and implemented in order to make lasting differences. The time required to make a change is often related to the amount of time the change lasts for. Thus, the most reliable method to achieve lasting advancements is through the accumulation of influence, and its gradual application. 
        </p>

        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
