    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            Should Higher Education be Vocational?
        </h3>

        <p>&emsp; &emsp;
            One of the great debates in the world of higher education involves the degree to which college education should provide economically viable skills as opposed to being primarily about personal growth. 
        </p>

        <p>&emsp; &emsp;
            From an economic perspective, education is a path to build human capital, allowing people to increase their capacity to do high-value work. Efficiency, productivity, and speed at which work is completed are all increased through education. However, education comes with a cost. That cost is becoming increasingly large. This means that education is, at its core, an investment. Students and their families pay an immense amount of money in the pursuit of education, hoping that the returns from this investment will justify the costs. This has implications on the worth of the knowledge and human capital gained from the degree.
        </p>

        <p>&emsp; &emsp;
            If one seeks to have a reasonable return on the cost of college, as well as compensation for sunk resources such as time, a degree must have the potential for making money. Therefore, education needs to provide employable hard skills that are applicable to a profession. In other words, at least some parts of the education must be vocational.
        </p>

        <p>&emsp; &emsp;
            This is not to say that personal enrichment through learning is not valuable. Studying philosophies and other non-vocational interests is of great personal value. Much of one’s identity, character, and morals are gained through non-vocational pursuits. However, this enrichment very rarely requires study at a university or place of higher learning. These subjects can be learned through much less resource-intensive means. Especially in the age of the internet, one can study almost any subject outside of the classroom. Although this may take more time than paying for a course at university, the time and effort spent learning the information on your own will ultimately make the enrichment gained more valuable.
        </p>
            
        <p>&emsp; &emsp;
            To sink the enormous costs of university education into the study of something that will not have an impact on broader society, your community, or your family is an expression of misused privilege. Some students may argue that because an external source (family, scholarships, etc.) is funding their education, they don’t need to worry about vocational outcomes. Even though the funds to be spent on education are available, those financial resources could be used in many other ways. Given the costs of higher education, consideration of economic outcomes is of growing significance.
        </p>

        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
