    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            The Unfortunate Nature of Current Financial Education
        </h3>

        <p>&emsp; &emsp;
            In America , <a href="https://gflec.org/wp-content/uploads/2015/12/Optimal-Financial-Knowledge-and-Wealth-Inequality.pdf" style="color:rgb(55, 131, 105)">financial know-how is one of the largest differences</a> between the “haves”, and the “have-not’s”. Data on the <a href="https://www.investmentnews.com/financial-literacy-an-epic-fail-in-america-78385" style="color:rgb(55, 131, 105)" >state of financial literacy</a> in America abounds. One of the causes of the widening gap of income in America may be financial education. Those who understand finance and can apply their knowledge reap the rewards, while those who do not understand it fall victim to its complex systems. The current state of finance in America benefits the highly educated at the expense of the uneducated. Even a basic knowledge of tax laws can save US citizens thousands of dollars per year. A small amount of guided investing experience can <a href="https://www.researchgate.net/publication/227351484_Financial_Literacy_and_Portfolio_Diversification" style="color:rgb(55, 131, 105)">decrease the overall risk</a> and volatility of one’s portfolio dramatically. <a href="https://wallethub.com/edu/cc/how-to-build-credit-with-a-credit-card/50876" style="color:rgb(55, 131, 105)"> Strategies with a credit card</a>, even when very minor in scale and complexity, when applied consistently can considerably increase one’s credit score.
        </p>

        <p>&emsp; &emsp;
            So why are these concepts so foreign to so many people, when just a little bit of knowledge can have such an impact? Why can so many people not seem to make the step up to using the system, instead of falling prey to it? Because the system was built to make that step seem like a ledge. The systems of taxes and investing were made full of minor complexities that create an illusion of obscurity and intricacy. Shortcuts and traps that are well-known and obvious to the well educated form a maze for those who are entering with no experience. Elements such as intentionally over-complicated vocabulary create a barrier that victimizes those without the time or know-how to learn. This discrepancy in knowledge manifests directly in differences of wealth.
        </p>

        <h3>
           Possible Solution
        </h3>

        <p>&emsp; &emsp;
            This problem is rooted in a lack of education, so the solution would most logically be found there as well. Among the wealthy, financial skills are primarily learned through one’s family. However, if the parents have little to no financial education, the children will not have a source to learn from. Therefore, there should be a curriculum of financial education in public school systems. Financial education needs to be viewed as just as important as the core math and science classes, as it is almost guaranteed to be more useful to the average American. This is not to undervalue the core classes in public school systems, but whereas only a fraction of US citizens implement their knowledge of science and algebra, all US citizens must implement their knowledge of finance. Even by focusing on the subject for a single semester, the widespread understanding of borrowing money, completing taxes, and basic investing would increase. This would benefit all US citizens enormously.
        </p>

        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
