<div id='main_bg_1'>
    <div class=" container">
    <% include ../partials/header %>

        
    <div id='contact_me'>    
        <% include ../partials/menu %>
        <div class="fluid-container bg-greyDown" style="float:left; width:100%;">
            <h2 style="margin:10px">You can reach me at: </h2>
            <ul type="square">
                <li>LinkedIn: Wyett Considine </li>
                <li>Github: WyettConsidine</li>
                <li>Email: wyettconsidine@gmail.com</li>
            </ul>
        </div>
    </div>
<% include ../partials/footer %>
