<div id='proj_bg4'>
    <div class=" container">

        
    <% include ../partials/header %>
    <% include ../partials/menu %>

<div class="jumbotron fluid-container" style="color:black; background-color:cornflowerblue; float:left; width:60%">
    <h3>Effect Oriented Programming</h3>
    <hr><hr>
    <p2>
        Summer of 2021, I helped write example code for an instructional programming book, “Effect Oriented Programming”. The team was composed of several people, and was led by <a href="https://www.linkedin.com/in/bruceeckel/" style="color:rgb(195, 197, 197)">Bruce Eckel</a>. The book mainly covers a style of coding called  "Functional Programming” as applied in Scala. This style focuses on maximizing reliability, consistency, and robustness. The book also covers some of the functionality of a tool called ZIO. This package helps make functional programming to be more practical and powerful. 
    </p2>    
    <br><br>
    <p2>
        To learn more about the progress of the book, go  <a href="https://github.com/EffectOrientedProgramming/book" style="color:rgb(195, 197, 197)">here</a>. To learn more about ZIO, go <a href="https://zio.dev/" style="color:rgb(195, 197, 197)">here</a>.
    </p2>


</div>


</div>
</div>
</div>
<% include ../partials/footer %>
