<div id='proj_bg4'>
    <div class=" container">

        
    <% include ../partials/header %>
    <% include ../partials/menu %>

<div class="jumbotron fluid-container" style="color:black; background-color:cornflowerblue; float:left; width:60%">
    <h3>Fourier Forcasting Model</h3>

    <hr><hr>

    <p2>
        The Fourier Forecasting Model is a financial forecasting model that implements discrete fourier transforms to reveal underlying trends in financial data. By using digital signal processing (DSP), it is possible to separate high frequency transient effects from the lower frequency persistent patterns in stock prices. By filtering out the higher frequencies, one can find the more persistent, prominent, and meaningful patterns. 
    </p2>
        <br><br>
    <p2>
        I ran backtest on stock and index ETF data to test robustness and accuracy. 

     </p2>      


</div>


</div>
</div>
</div>
<% include ../partials/footer %>
