<div id='proj_bg4'>
    <div class=" container">

        
    <% include ../partials/header %>
    <% include ../partials/menu %>

<div class="jumbotron fluid-container" style="color:black; background-color:cornflowerblue; float:left; width:60%">
    <h3>Information Density Model</h3>
        <hr><hr>
    <p2>
        
    I helped develop a tool called the Information Density Model. This model is a generalized approach to identifying structure in multivariate datasets. The model captures non-linear structure, and is robust for non-parametric distributions. It even works with deterministic chaos. This tool is a novel approach to finding information in any time-series based datasets.
   </p2>
   <br><br>

   <p2>
        I created a generalized test for statistical significance, and information content of data. In addition, I coded and optimized the tool in C++.

     </p2>      


</div>


</div>
</div>
</div>
<% include ../partials/footer %>
