<div id='proj_bg4'>
    <div class=" container">

        
    <% include ../partials/header %>
    <% include ../partials/menu %>

<div class="jumbotron fluid-container" style="color:black; background-color:cornflowerblue; float:left; width:60%">
    <h3>Options Based Outlook Model</h3>

    <hr><hr>

    <p2>
        An option is a financial contract that allows the owner the right, but not the obligation, to buy or sell an asset at a specific price. The price of an option reflects the market's consensus estimate of the probability that the price will rise (call option) or fall (put option) relative to the specific price (strike price). By analyzing the prices of the call options and put options as an inversion problem, it is possible to calculate a probabilistic price forecast that reconciles the option prices. 
    </p2> 
        <br><br>
    <p2>
        I performed experiments on the model using market implied outlooks from index ETFs. 

    </p2>
        
        
 


</div>


</div>
</div>
</div>
<% include ../partials/footer %>
