<% include ../partials/header %>
<% include ../partials/menu %>

	<div class="jumbotron container">
	<h2> Reviews </h2>
	</div>
	
	<div class="jumbotron">

	<table class="table">
  		<thead>
   			<tr>
     				<th scope="col">Movie</th>
     				<th scope="col">Review</th>
      				<th scope="col">Review Date</th>
     			</tr>
  		</thead>
  		<tbody id="tableBody">
    			<% if (data) {
				var rows = '';
				data.forEach(function(item){
					rows += '<tr><td>'+item.title+'</td><td>'+item.review+'</td><td>'+item.date+'</td></tr>';
		});%>
			<%- rows %>
			<%}%>
 		 </tbody>
	</table>


	</div>




<% include ../partials/footer %>

